<div class="crypto-container">

    <!-- crypto right sidebar container start -->
    <div class="crypto-left-container">
        <div class="crypto-list-wrapper">
            <div class="content">
                <div class="text">Ethereum (ETH)</div>
                <div class="value"><span class="number">$170.46</span><img style="width:15px;"
                        src="assets/icons/uparrow.svg" alt="">
                    <span class="percentage">2.35%</span>
                </div>
            </div>
            <div class="graph">
                <img style="width: 113px; margin-bottom: -15px;" src="assets/icons/ethereum_chart.svg" alt="">
            </div>
        </div>
        <div class="crypto-list-wrapper">
            <div class="content">
                <div class="text">Bitcoin Cash (BCH)</div>
                <div class="value"><span class="number">$359.93</span><img style="width:15px;"
                        src="assets/icons/uparrow.svg" alt="">
                    <span class="percentage">9.94%</span>
                </div>
            </div>
            <div class="graph">
                <img style="width: 113px; margin-bottom: -15px;" src="assets/icons/bitcoin_cash.svg" alt="">
            </div>
        </div>
        <div class="crypto-list-wrapper">
            <div class="content">
                <div class="text">XRP (XRP)</div>
                <div class="value"><span class="number">$0.2351</span><img style="width:15px;"
                        src="assets/icons/downarrow.svg" alt="">
                    <span class="percentage">0.35%</span>
                </div>
            </div>
            <div class="graph">
                <img style="width: 113px; margin-bottom: -15px;" src="assets/icons/xrp.svg" alt="">
            </div>
        </div>
        <div class="crypto-list-wrapper">
            <div class="content">
                <div class="text">Ethereum (ETH)</div>
                <div class="value"><span class="number">$170.46</span><img style="width:15px;"
                        src="assets/icons/uparrow.svg" alt="">
                    <span class="percentage">2.35%</span>
                </div>
            </div>
            <div class="graph">
                <img style="width: 113px; margin-bottom: -15px;" src="assets/icons/litecoin.svg" alt="">
            </div>
        </div>
        <div class="crypto-list-wrapper">
            <div class="content">
                <div class="text">Ethereum (ETH)</div>
                <div class="value"><span class="number">$170.46</span><img style="width:15px;"
                        src="assets/icons/uparrow.svg" alt="">
                    <span class="percentage">2.35%</span>
                </div>
            </div>
            <div class="graph">
                <img style="width: 113px; margin-bottom: -15px;" src="assets/icons/zcash.svg" alt="">
            </div>
        </div>
        <div class="crypto-list-wrapper">
            <div class="content">
                <div class="text">Ethereum (ETH)</div>
                <div class="value"><span class="number">$170.46</span><img style="width:15px;"
                        src="assets/icons/uparrow.svg" alt="">
                    <span class="percentage">2.35%</span>
                </div>
            </div>
            <div class="graph">
                <img style="width: 113px; margin-bottom: -15px;" src="assets/icons/bitcoin_gold.svg" alt="">
            </div>
        </div>
    </div>
    <!-- crypto right sidebar container end -->




    <div class="crypto-right-container"></div>
</div>