.home-container {

    background-color: #f1f5f9;
    width: calc(100% - 64px);
    height: 100%;

    .home-header {
        height: 204px;
        background-color: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 50px;
        border-bottom: 1px solid #e4eaf1;

        .header-datas {
            display: flex;
            align-items: center;
            margin-left: 21px;

            img {
                width: 70px;
                border-radius: 50px;
            }

            .nameTagSeparator {
                display: flex;
                flex-direction: column;
                padding: 0px 10px;

                .name {
                    color: #1e293b;
                    font-size: 36px;
                    padding-bottom: 12px;
                    font-weight: 500;
                }

                .tagline {
                    display: flex;
                    padding-bottom: 0px;
                    color: #6981a3;
                }
            }
        }

        .buttons {

            // border: 1px solid red;
            .msgbtn {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                font-size: 18px;
            }

        }

        .button button:first-child {
            background-color: red;
        }
    }

    .dropdown-btn {

        .dropdown {
            position: relative;
            bottom: 41px;
            left: 71px !important;
        }
    }

    .dashboard-datas {
        .nav-buttons {
            position: relative;
            top: -40px;
            height: 50px;
            width: 100%;
            padding-top: 20px;
            padding-left: 71px;
        }

        .home-data {
            position: relative;
            top: -15px;
            width: 92%;
            margin: auto;

            .cards {
                display: flex;
                justify-content: space-between;
                // flex-direction: column;

                .card {

                    background-color: #ffffff;
                    border-radius: 10px;
                    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 1px;
                    padding: 10px;
                    margin: 10px;
                    flex: auto;

                    .card-header {
                        .summary {
                            color: #1e293b;
                            font-size: 16px;
                        }

                        height: 50px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                    }

                    .card-body {
                        height: 155px;
                        // http://172.16.30.29:80/Save_Image
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        align-items: center;

                        .count {
                            font-size: 60px;
                            color: #3b82f6;
                            font-weight: 500;
                        }

                        .duetask {
                            color: #2563eb;
                            font-size: 16px;
                        }

                        .completed {
                            color: #64748b;
                            font-size: 13px;
                        }
                    }
                }
            }
        }

        // home-data end
        .github-usses-summary {
            position: relative;
            top: -15px;
            width: 92%;
            margin: auto;

            .github-usses-summary-cards {
                margin: 10px;
                background-color: #ffffff;
                border-radius: 10px;
                height: auto;
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 1px;

                .github-usses-summary-cards-header {
                    display: flex;
                    justify-content: space-between;
                    padding: 20px;

                    .summaryname {
                        color: #1e293b;
                        font-size: 16px;
                    }
                }

                .summary-datas {
                    padding: 0px 10px;
                    display: flex;

                    .charts {
                        flex: 1;

                        h4 {
                            font-size: 15px;
                            color: #64748b;
                            padding: 0px 10px;
                            font-weight: 500;
                        }

                        .charts-container {
                            padding: -10px 10px 10px 10px;
                            height: 85%;
                        }
                    }

                    .summary-cartsdata {
                        flex: 1;

                        h4 {
                            font-size: 15px;
                            color: #64748b;
                            padding: 0px 10px;
                            font-weight: 500;
                        }

                        .child-cards {
                            display: flex;

                            .new-issues {
                                flex: 1;
                                height: 149px;
                                background-color: #eef2ff;
                                border-radius: 20px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                margin: 5px;
                                color: #3730a3;

                                .issueNo {
                                    font-size: 48px;
                                    font-weight: 500;
                                    padding: 10px;
                                }

                                .issueText {
                                    font-size: 16px;
                                    padding: 10px;
                                }
                            }

                            .closed {
                                flex: 1;
                                height: 149px;
                                border-radius: 20px;
                                background-color: #f0fdf5;
                                border-radius: 20px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                margin: 5px;
                                color: #166534;

                                .closedNo {
                                    font-size: 48px;
                                    font-weight: 500;
                                    padding: 10px;
                                }

                                .closedText {
                                    font-size: 16px;
                                    padding: 10px;
                                }
                            }
                        }

                        .summary-numbers {
                            display: flex;

                            .snum-common {
                                flex: 1;
                                height: 140px;
                                background-color: #f1f5f9;
                                color: #64748b;
                                margin: 5px;
                                border-radius: 10px;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;

                                .smnum-data {
                                    color: #64748b;
                                    font-size: 32px;
                                    font-weight: 500;
                                    padding: 5px;
                                }

                                .stext-data {
                                    font-size: 12px;
                                    padding: 5px;
                                }
                            }
                        }

                        //summary-numbers end
                    }
                }

                //summary-datas end
            }
        }

        .card3-section {
            position: relative;
            top: -15px;
            width: 92%;
            margin: auto;
            display: flex;

            .task-distribution {
                flex: 1;
                margin: 10px;
                background-color: #ffffff;
                border-radius: 10px;
                height: auto;
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 1px;
                padding: 20px;
                width: 50%;
                position: relative;

                .task-distribution-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-basis: 100px;

                    .task-distribution-header-text {
                        color: #1e293b;
                        font-size: 16px;
                    }

                    .task-distribution-header-buttons {
                        color: #64748b !important;
                        font-size: 14px !important;
                    }
                }

                .polarChart {
                    width: 100%;
                    display: flex;
                    justify-content: center !important;
                    max-width: 500px;
                    height: auto;
                    margin: auto;
                }

                .chartDatas {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    border-top: 1px solid #e2e8f0;
                    height: 20%;
                    width: 100%;

                    margin: auto;
                    position: absolute;
                    bottom: 10px;
                    left: 0%;
                    bottom: 0%;
                    background-color: #f8fafc;
                    border-radius: 0px 0 10px 10px;

                    .new-task {
                        border-right: 1px solid #e2e8f0;
                        flex: 1;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                    }

                    .completed-task {
                        flex: 1;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                    }

                    .completed-task-num {
                        font-size: 36px;
                        font-weight: 500;
                        color: #1e293b;
                    }

                    .completed-task-text {
                        color: #64748b;
                        font-size: 14px;
                        margin: 10px;
                    }
                }
            }

            .schedule {
                flex: 1;
                margin: 10px;
                background-color: #ffffff;
                border-radius: 10px;
                height: auto;
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 1px;
                padding: 20px;

                .schedule-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .schedule-header-text {
                        color: #1e293b;
                        font-size: 16px;
                    }

                    .schedule-header-buttons {
                        color: #64748b !important;
                        font-size: 14px !important;
                    }
                }

                .schedule-body {
                    ul {
                        li {
                            list-style: none;
                            display: flex;
                            justify-content: space-between;
                            padding: 15px 5px;
                            border-bottom: 1px solid #dadee5;
                            border-width: 50% !important;

                            .libody {
                                .liheading {
                                    padding: 3px;
                                    width: 100%;
                                }

                                .lidesc {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    color: #64748b !important;
                                }
                            }

                            .li-arrow {
                                width: 50px;
                            }
                        }

                        li:last-child {
                            border-bottom: none;
                        }

                    }
                }
            }
        }
    }
}

.active {
    background-color: #e2e8f0;
    color: #000000DE;
}

::ng-deep .msg {
    font-size: 14px !important;
    background: #334156 !important;
}

::ng-deep .settings {
    color: inherit;
    font-size: 14px !important;
    background: #4f46e5 !important;
}

::ng-deep .moremenubtn {
    background-color: red;
}

::ng-deep .dropdown {
    border-radius: 13px 13px 0px 0px !important;
    padding: 2px 20px;
    // border: 1px 1px 0px 1px solid red;


    border-top: 1px solid #e4eaf1;
    border-right: 1px dashed #e4eaf1;
    border-left: 1px solid #e4eaf1;

}

::ng-deep .dropdown.mat-button,
.mat-icon-button,
.mat-stroked-button {
    color: inherit;
    background: transparent;
    background-color: #f1f5f9;
}

@media screen and (width < 1080px) {
    .dashboard-datas .home-data .cards {
        flex-direction: column;
    }

}

@media screen and (max-width:1286px) {
    .card3-section {
        display: flex;
        flex-direction: column;


    }

    .chartDatas {
        position: relative !important;

    }

    .task-distribution-header {
        margin: 20px !important;
    }

    .completed-task-num {
        margin-top: 25px !important;
    }

    .task-distribution {
        width: 97% !important;
        padding: 0px !important;
    }
}

@media screen and (max-width:1180px) {
    .summary-datas {
        display: flex;
        flex-direction: column;
    }
}

::ng-deep .apexcharts-toolbar {
    display: none !important;
}

::ng-deep .apexcharts-legend-text {
    display: none !important;
}

::ng-deep .apexcharts-legend-marker {
    display: none !important;
}