.sidenav_container {
    .admin-details-section {
        height: 266.5px;
        width: 100%;

        .admin-items-section {
            height: 72px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px 24px;

        }

        .admin-avatar {
            height: calc(100% - 72px);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            p {
                color: #ffffff;
                font-size: 14px;
                margin-top: 20px;
                margin-bottom: 2px;

            }

            span {
                color: #94A3B8;
            }

            img {
                border-radius: 50px;
                width: 96px;
            }
        }
    }

    //admin profile notifications section end

    .dashboard-links-section {
        margin-top: 15px;
        height: 248px;

        .dashboard-header {
            height: 56px;
            padding: 10px 28px;

            p {
                color: #818CF8;
                font-weight: 500;
            }

            small {
                color: #7a7e89;
            }
        }

        .dashboard-links {
            ul {
                color: #ffffff;
                padding: 5px 10px;

                li {
                    display: flex;
                    align-items: center;
                    padding: 10px 16px;

                    span {
                        margin-left: 20px;
                    }
                }

            }

            li:hover {
                border-radius: 7px;
                background-color: #FFFFFF1F;
                cursor: pointer;
                color: #ffffff;
            }
        }
    }

    // dashboard link section end

    .dashboard-applications {
        margin-top: 15px;

        .dashboard-application-header {
            height: 56px;
            padding: 10px 28px;

            p {
                color: #818CF8;
                font-weight: 500;
            }

            small {
                color: #7a7e89;
            }
        }

        .dashboard-applications-links {
            ul {
                color: #ffffff;
                padding: 5px 10px;

                li {
                    display: flex;
                    align-items: center;
                    padding: 10px 16px;

                    span {
                        margin-left: 20px;
                    }

                    .mail-notification {
                        position: relative;
                        left: 117px;
                        border-radius: 10px;
                        background-color: #DB2777;
                        width: 30px;
                        text-align: center;
                    }
                }

                .mat-extension {
                    padding: 0px 16px;

                    li {
                        padding-left: 34px;
                    }
                }

            }

            li:hover {
                border-radius: 7px;
                background-color: #FFFFFF1F;
                cursor: pointer;
            }

            mat-accordion {
                width: 100%;
                background: transparent !important;
                margin: 0px !important;
                padding: 0px !important;
            }



        }

        //dashboard-applications-links end

    }

    //dashboard-applications end

    .pages {
        margin-top: 15px;

        .pages-header {
            height: 56px;
            padding: 10px 28px;

            p {
                color: #818CF8;
                font-weight: 500;
            }

            small {
                color: #7a7e89;
            }
        }

        .pages-links {
            ul {
                color: #ffffff;
                padding: 5px 10px;

                li {
                    display: flex;
                    align-items: center;
                    padding: 10px 16px;

                    span {
                        margin-left: 20px;
                    }

                    .auth-child-linkes {
                        margin-left: 45px;
                        font-size: 13px;
                        color: #94a3b8;
                    }


                }

                .mat-extension {
                    padding: 0px 16px;

                    ul {
                        li {
                            padding-left: 34px;
                            width: 100%;
                            color: #ffffff !important;
                        }
                    }

                }

                .pages-sublinks {
                    ul {
                        li {
                            margin-left: 10px;
                        }
                    }
                }

            }
        }


        li:hover {
            border-radius: 7px;
            background-color: #FFFFFF1F;
            cursor: pointer;
            color: #ffffff !important;
        }

        mat-accordion {
            width: 100%;
            background: transparent !important;
            margin: 0px !important;
            padding: 0px !important;
        }
    }

    // pages end
    .user-interface-section {
        margin-top: 15px;

        .user-interface-header {
            height: 56px;
            padding: 10px 28px;

            p {
                color: #818CF8;
                font-weight: 500;
            }

            small {
                color: #7a7e89;
            }
        }

        .user-interface-links {
            ul {
                color: #ffffff;
                padding: 5px 10px;

                li {
                    display: flex;
                    align-items: center;
                    padding: 10px 16px;

                    span {
                        margin-left: 20px;
                    }

                    .user-interface-child-linkes {
                        margin-left: 45px;
                        font-size: 13px;
                        color: #94a3b8;
                    }


                }

                .mat-extension {
                    padding: 0px 16px;

                    ul {
                        li {
                            padding-left: 34px;
                            width: 100%;
                            color: #ffffff !important;
                        }
                    }

                }

                .user-interface-sublinks {
                    ul {
                        li {
                            margin-left: 10px;
                        }
                    }
                }

            }
        }


        li:hover {
            border-radius: 7px;
            background-color: #FFFFFF1F;
            cursor: pointer;
            color: #ffffff !important;
        }

        mat-accordion {
            width: 100%;
            background: transparent !important;
            margin: 0px !important;
            padding: 0px !important;
        }
    }

    //user-interface-section end

    // documentation-section
    .documentation-section {
        margin-top: 15px;

        .documentation-header {
            height: 56px;
            padding: 10px 28px;

            p {
                color: #818CF8;
                font-weight: 500;
            }

            small {
                color: #7a7e89;
            }
        }

        .documentation-links {
            ul {
                color: #ffffff;
                padding: 5px 10px;

                li {
                    display: flex;
                    align-items: center;
                    padding: 10px 16px;

                    span {
                        margin-left: 20px;
                    }

                    .changelog-notification {
                        position: relative;
                        left: 60px;
                        border-radius: 10px;
                        background-color: #fde047;
                        width: 45px;
                        text-align: center;
                        color: #000000 !important;
                    }

                }

                .mat-extension {
                    padding: 0px 16px;

                    ul {
                        li {
                            padding-left: 34px;
                            width: 100%;
                            color: #ffffff !important;
                        }
                    }

                }

            }
        }

        li:hover {
            border-radius: 7px;
            background-color: #FFFFFF1F;
            cursor: pointer;
            color: #ffffff !important;
        }

        mat-accordion {
            width: 100%;
            background: transparent !important;
            margin: 0px !important;
            padding: 0px !important;
        }
    }

    //documentation-section end

    .navigation-feature-section {
        margin-top: 15px;

        .navigation-feature-header {
            height: 56px;
            padding: 10px 28px;

            p {
                color: #818CF8;
                font-weight: 500;
            }

            small {
                color: #7a7e89;
            }
        }

        .navigation-features-links {
            width: 100%;

            ul {
                color: #ffffff;
                padding: 5px 10px;
                width: 100%;

                li {
                    display: flex;
                    align-items: center;
                    padding: 10px 16px;
                    width: 100%;
                    position: relative;

                    span {
                        margin-left: 20px;
                        flex: 1;
                    }

                    .navigation-features-notification {
                        position: relative;
                        border-radius: 10px;
                        background-color: #2dd4bf;
                        width: fit-content;
                        padding: 0 7px;
                        text-align: center;
                        color: #000000 !important;
                        margin-right: -10px;
                    }

                    .level-child-linkes {
                        margin-left: 45px;

                    }

                }

                .mat-extension {
                    padding: 0px 16px;

                    ul {
                        li {
                            padding-left: 34px;
                            width: 100%;
                            color: #ffffff !important;
                        }
                    }

                }

                .level-sublinks {
                    ul {
                        li {
                            margin-left: 10px;
                        }
                    }
                }

            }


        }

        .active {
            border-radius: 7px;
            background-color: #FFFFFF1F;
            cursor: pointer;
            color: #ffffff !important;
        }

        .disabled:hover {
            background-color: #0f1729;
            cursor: alias;
        }

        li:hover {
            border-radius: 7px;
            background-color: #FFFFFF1F;
            cursor: pointer;
            color: #ffffff !important;
        }

        mat-accordion {
            width: 100%;
            background: transparent !important;
            margin: 0px !important;
            padding: 0px !important;
        }

    }

    //navigation-feature-section end

    .footer-logo-section {
        padding: 20px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.12 !important;

        img {
            width: 145px !important;
        }
    }
}

//sidenav_container end