/* You can add global styles to this file, and also import other style files */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none !important;
}

// .mat-expansion-panel-header.mat-expanded {
//     height: 70px !important;
// }
.mat-expansion-panel-header.mat-expanded {
    height: 49px !important;
}

.mat-expansion-panel {
    background: transparent;
    color: #ffff;
    width: 100%;

}

.mat-expansion-indicator::after {
    color: #ffff !important;

}

.mat-expansion-panel-header {
    padding: 0px !important;
    margin-right: 12px !important;


}

.mat-expansion-panel-header :hover {
    color: #ffffff !important;
}

.mat-expansion-panel-header-title {
    color: #ffff;

}

.mat-expansion-panel-body {
    padding: 0px !important;
}

// .contact-container {
//     height: 100%;
//     min-width: 64px !important;
// }
.apexcharts-toolbar {

    display: none !important;
}

.apexcharts-yaxis {
    display: none !important;
}

.apexcharts-xaxis-tick {
    display: none !important;
}